@charset "utf-8";
@import "../node_modules/bulma/sass/utilities/initial-variables";

.bg-home {
    background: url('/media/bg-home.jpg');
    background-size: cover;
    background-position: center;
}

footer.footer {
        padding: 3rem 1.5rem;
    a {
        transition: ease-in-out 0.2s;
    }
    a:hover {
        transition: ease-in-out 0.2s;
    }
}

@import "../node_modules/bulma/bulma";
